* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    background: #1f2235;
    font-family: roboto mono, serif, cursive;
}

.m-heading {
    font-family: Roboto Slab, serif, Verdana, Geneva, Tahoma, sans-serif;
}

.navigation-link {
    border: 2px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #bce409;
    transition: .5s ease;
}

.main-container {
    min-height: 100vm;
}

.main_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_row h1 {
    font-size: 5rem;
}

.main_row img {
    width: auto;
    height: 36.9rem;
}

#about {
    background: #313552;
    border-radius: 0.5rem;
}

.card {
    border-bottom: 5px solid rgb(200, 218, 39);
}

#social-media {
    background: #313552;
}

.media_link {
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid #f5ba09;
    border-radius: 0.5rem;
}

.ssc {
    text-decoration: none;
}
